
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    width:95%;
    margin:0 auto;
    background-color:#004699;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  .grid-item {
    margin: 2.5%;
    background-repeat: no-repeat;
    background-size:cover;
    min-height:480px;
    position:relative;
    border-radius: 10px;
  }
.tallies {
    width:20%;
    position:absolute;
    top: 0;
    right: 0;
    margin: 10px 0 0 0;
}
.tallies p {
    font-size: 20px;
    text-align: center;
    color: #000;
    vertical-align: middle;
}

  .photoDetails {
    background-color: rgba(179, 214, 255, 0.8);
    position: absolute;
    width:100%;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .photoDetails p,
  .photoDetails a {
    display:inline-block;
    font-size: 24px;
  }
  .photoDetails p {
    text-align:left;
    margin-left: 15px;
    margin-top: 5px;
  }
  .photoDetails a {
    text-align:right;
  }
  .likes {
    background: url('/assets/like.png') center center no-repeat;
    background-size: 30px 25px;
  }
  .hearts {
    background: url('/assets/heart.png') center center no-repeat;
    background-size: 30px 25px;


}
.likes,
.hearts {
    float: right;
    margin-right:5px;
    width:30px; 
    height:25px;
    display:inline-block;
}
