
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    width:90%;
    margin:0 auto;
    background-color:#004699;
}

.flex-row {
	display: flex;
    flex-wrap: wrap;
}

.flex-row > [class*='col-'] {
	display: flex;
    flex-direction: column;
    min-height:500px;
}

.container {
    width:95%;
}

  
.tallies {
    width:20%;
    position:absolute;
    top: 0;
    right: 0;
    margin: 10px 0 0 0;
}
h1 {
    color:#fff;
    font-size:56px;
    text-align:center;
}
h2 {
    margin-left:5px;
    vertical-align: middle;
    color:#333333;
    font-size:28px;
    display:inline-block;
}
.reaction-buttons {
    margin-top:20px;
    widows: 35%;
    float:right;
    display:inline-block;
}
.fa {
    font-size:28px;
}
.fa-heart:hover {
    color: #ee8f8d;
}

.fa-thumbs-up:hover {
    color:#395ca9;
}
button {
    background: none !important;
    color: inherit;
    border: none;
    padding: 0! important;
    font: inherit;
    cursor: pointer;
    outline: inherit !important;
    width: 28px;
    height:28px;
    margin-right:25px;
}
button {
    background: none !important;
    color: inherit;
    border: none;
    padding: 0! important;
    font: inherit;
    cursor: pointer;
    outline: inherit !important;
    width: 28px;
    height:28px;
    margin-right:25px;
}



  .photoDetails {
    background-color: rgba(179, 214, 255, 0.8);
    position: absolute;
    width:100%;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .photoDetails p,
  .photoDetails a {
    display:inline-block;
    font-size: 24px;
  }
  .photoDetails p {
    text-align:left;
    margin-left: 15px;
    margin-top: 5px;
  }
  .photoDetails a {
    text-align:right;
  }
  .likes {
    background: url('/assets/like.png') center center no-repeat;
    background-size: 40px 35px;
  }
  .hearts {
    background: url('/assets/heart.png') center center no-repeat;
    background-size: 40px 35px;


}
.likes,
.hearts {
    float:right;
    margin-right:10px;
    width:45px; 
    height:35px;
    display:inline-block;
}
.likes p,
.hearts p {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #000;
}
/* .flip {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    position: relative;
    min-height:500px;
  }
  .flip .card.flipped {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  } 
.flip .card {
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    min-height:500px;
    width: 100%;
    height: 100%;
  }
  .flip .card .face {
    position: absolute;
    -webkit-backface-visibility: hidden ;
    z-index: 2;
  }

  .flip .card .front {
    position: absolute;
    z-index: 1;

      cursor: pointer;
  }
  .front {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  
  .back {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  } */
  .flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;

    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d; 
    -ms-transform-style: preserve-3d; 

  
}

.flip-container.flip .back {
-webkit-transform: rotateY(0deg);
-moz-transform: rotateY(0deg);
-o-transform: rotateY(0deg);
-ms-transform: rotateY(0deg);
transform: rotateY(0deg);
}

.flip-container.flip .front {
-webkit-transform: rotateY(180deg);
-moz-transform: rotateY(180deg);
-o-transform: rotateY(180deg);
-ms-transform: rotateY(180deg);
transform: rotateY(180deg);
}

.flip-container, .front, .back {
    min-width:360px;
    min-height:375px;
}

.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 0.6s;

    -moz-transition: 0.6s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

-webkit-transition: 0.6s;
-webkit-transform-style: preserve-3d;

-moz-transition: 0.6s;
-moz-transform-style: preserve-3d;

-o-transition: 0.6s;
-o-transform-style: preserve-3d;

-ms-transition: 0.6s;
-ms-transform-style: preserve-3d;

transition: 0.6s;
transform-style: preserve-3d;

    position: absolute;
    top: 0;
    left: 0;
}

.front {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    background: lightgreen;
    z-index: 2;
}

.back {
    background: lightblue;
    -webkit-transform: rotateY(-180deg);
-moz-transform: rotateY(-180deg);
-o-transform: rotateY(-180deg);
-ms-transform: rotateY(-180deg);
transform: rotateY(-180deg);
}