
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    width:90%;
    margin:0 auto;
    background-color:#004699;
}
  .flip-container {
    perspective: 1200x;
    display: grid;
    grid-template-columns: auto;
  }
  .flip-container .flipped {
    -webkit-transform: rotateY(180deg);
  }

  .flipper {
    transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}


.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
   
  }
  .face {
    backface-visibility: hidden;
    height:100%;
    width:100%;
    margin: 2.5%;
    background-repeat: no-repeat;
    background-size:cover;
    min-height:480px;
    position: absolute;
   
    border-radius: 10px;
  }
  .front {
    z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
  }
 .back {
    transform: rotateY(180deg);
    background-color: rgb(179, 214, 255);
  }
.tallies {
    width:20%;
    position:absolute;
    top: 0;
    right: 0;
    margin: 10px 0 0 0;
}
h1 {
    color:#fff;
    font-size:56px;
    text-align:center;
}
h2 {
    margin-left:5px;
    vertical-align: middle;
    color:#333333;
    font-size:28px;
    display:inline-block;
}
.reaction-buttons {
    margin-top:20px;
    widows: 35%;
    float:right;
    display:inline-block;
}
.fa {
    font-size:28px;
}
.fa-heart:hover {
    color: #ee8f8d;
}

.fa-thumbs-up:hover {
    color:#395ca9;
}
button {
    background: none !important;
    color: inherit;
    border: none;
    padding: 0! important;
    font: inherit;
    cursor: pointer;
    outline: inherit !important;
    width: 28px;
    height:28px;
    margin-right:25px;
}
button {
    background: none !important;
    color: inherit;
    border: none;
    padding: 0! important;
    font: inherit;
    cursor: pointer;
    outline: inherit !important;
    width: 28px;
    height:28px;
    margin-right:25px;
}



  .photoDetails {
    background-color: rgba(179, 214, 255, 0.8);
    position: absolute;
    width:100%;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .photoDetails p,
  .photoDetails a {
    display:inline-block;
    font-size: 24px;
  }
  .photoDetails p {
    text-align:left;
    margin-left: 15px;
    margin-top: 5px;
  }
  .photoDetails a {
    text-align:right;
  }
  .likes {
    background: url('/assets/like.png') center center no-repeat;
    background-size: 40px 35px;
  }
  .hearts {
    background: url('/assets/heart.png') center center no-repeat;
    background-size: 40px 35px;


}
.likes,
.hearts {
    float:right;
    margin-right:10px;
    width:45px; 
    height:35px;
    display:inline-block;
}
.likes p,
.hearts p {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #000;
}
